
.home{
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    background-color: #f3f3f3;
    
}
.container-home{
    width: 100%;
    box-shadow: rgba(85, 58, 134, 0.849) 0px 5px 15px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
   

}
h2{
    color: #674188;
}
    

.home button{
    height: 60px;
    width: 200px;
    background-color: #674188;
    border-radius: 20px;
    border: none;
    color: #FFFBF5;
    margin: 50px;
    font-size: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;}
button:hover{
    cursor: pointer;
    background-color: #402955;
}
.wrapper{
    height: 50%;
    width: 50%;
}
img{
    height: 300px;
}