.header{
    background-color: #674188;
    width: 100%;
    height: 60px;
    color: white;
    align-items: center;
    font-size: 25px;
    display: flex;
    justify-content: space-around;
    margin-right: 30px;
}
.header button{
    height: 45px;
    background-color: #472c5f;
}
.header button:hover {
    background-color: #2d0650;
}
@media only screen and (max-width: 600px) {
    .header{
   
        font-size: 18px;
        justify-content: space-around;
        margin-left: -20px;
    }

}